img {
    width: 50%;
    
}

footer {
    text-align: center;
    color: whitesmoke;
    position: absolute;
    bottom:0;
    width: 100%;

}

p {
    color: green
}

#navbarDropdown {
    background-color: aqua;
}
 ul{
    color: tomato;
    margin-left: 09%;
    font-size: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
 
